run = ["bundle", "exec", "jekyll", "serve", "--host", "0.0.0.0"]

entrypoint = "./site/main.rb"

[packager]
language = "ruby"

[packager.features]
packageSearch = true
guessImports = true

[languages.ruby]
pattern = "**/*.rb"

[languages.ruby.languageServer]
start = ["solargraph", "stdio"]